<!DOCTYPE html>
<html
  prefix="og: https://ogp.me/ns#"
  lang="{{ .Site.LanguageCode }}"
  data-theme="light"
>
  <head>
    <meta charset="utf-8" />
    <title>
      {{ block "title" . }}{{ .Title }} - {{ .Site.Title }}{{ end }}
    </title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    {{ partial "og.html" . }}
    {{ partial "icons.html" . }}
    {{ partial
      "other-metas.html" .
    }}


    <script>
      const storage = localStorage.getItem("dark-mode");
      if (
        "dark" === storage ||
        (!storage &&
          window.matchMedia &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.setAttribute("data-theme", "dark");
      }
    </script>

    {{ $webkitAssets := .Site.Data.webpack.main }}
    <script src="{{ relURL $webkitAssets.js }}"></script>
    <link rel="stylesheet" href="{{ relURL $webkitAssets.css }}" />
    {{ partial "google-fonts" . }}


    <!-- block additional styles in templates -->
    {{ block "stylesheets" . }}{{ end }}
    <!-- /block additional styles in templates  -->
  </head>

  <body class="{{ block "body_classes" . }}{{ end }}">
    {{ partial "header.html" . }}


    <main class="site-main">
      <!-- let's keep a way to override the whole structure by 
      redefining the whole block main -->
      {{ block "main" . }}
        <article>
          {{- block "subheader" . }}
            {{ partial "subheader.html" (dict "context" .
              "site" $.Site)
            }}
          {{ end }}
          <div class="content slide-invert">
            {{- block "content" . }}{{ end }}
            {{- block "comments" . }}{{ end }}
          </div>
        </article>
      {{ end }}
    </main>

    {{ partialCached "footer.html" . }}


    <!-- block additional scripts in templates -->
    {{ block "scripts" . }}{{ end }}
    <!-- block additional scripts in templates -->

    {{ partialCached "google-analytics.html" . }}
  </body>
</html>
